@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

body {
    min-width: 375px;
}

.header__top-row {
    position: relative;
    background: url(../img/header-detail-2.png);
    height: 98px;
    width: 100%;
    text-align: center;
}

.header-detail-1 {
    left: -77px;
    height: 98px;
    z-index: 1;
}

.header__top-row .logo {
    margin: 0 auto;
    height: 100%;
    position: relative;
    z-index: 10;
}

.header__bottom-row {
    background-image: url('../img/header.png');
    background-size: cover;
    height: 550px;
    width: 100%;
    padding: 0;
}

@media only screen and (max-width: 560px) {
    .header__bottom-row {
        height: 450px;
    }
    .header__content {
        margin-top: -400px!important;
    }
}

.header__video {
    margin-top: 50px;
}

.header__content {
    background-color: none;
    text-align: center;
    margin-top: -450px;
}

.header__content h1 {
    color: white;
    font-weight: bold;
    font-size: 40px;
}

.header__content h2 {
    color: white;
    font-weight: normal;
}

.language-selector {
    position: absolute;
    right: 30px;
    top: 37px;
    z-index: 10;
}

.language-selector a {
    color: #E4032C;
    background-color: white;
    font-weight: bold;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.language-selector a:hover {
    text-decoration: none;
}

.body__content {
    padding: 60px 2em 60px;
    font-size: 18px;
}

.footer {
    background-color: #E4032C;
    height: auto;
    width: 100%;
    text-align: center;
    position: relative;
}

.footer__icons {
    padding: 50px 0px;
    width: 300px;
}

.icons__icon {
    position: relative;
    display: inline;
    padding: 13px;
    z-index: 10;
}

.signature em {
    font-family: "Caveat";
    display: block;
    font-size: 35px;
    color: gray;
}

.footer-detail-1 {
    left: 0;
    height: 150px;
    top: 0;
}

.footer-detail-2 {
    right: 0;
    height: 150px;
    bottom: 0;
}

.footer-detail-2,
.footer-detail-1,
.header-detail-1 {
    position: absolute;
}

h1,
h2,
p,
a {
    font-family: sans-serif;
}